.header {
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100%;
  font-size: 1.7em;
  line-height: 100px;
  text-transform: uppercase;
}

.container {
  position: absolute;
  top: 100px;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
}

.content {
  min-height: 400px;
}

.section2 {
  min-height: 100px;
}

#signup {
  margin: auto;
  width: 250px;
}

#login {
  margin: auto;
  width: 250px;
}
#pay {
  margin: auto;
  width: 250px;
}
#select {
  margin: auto;
  width: 250px;
}
