.header {
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    font-size: 1.7em;
  }

  body {
    background-image: url('img/pizza-bg.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
  }
  .wrapper {
    position: relative;
    top: 7rem;
  }

  .map, form {
    margin-top: 8em;
  }

  .card-columns {
    margin-bottom: 4rem;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    line-height: 40px;
  }
