.header {
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    font-size: 1.7em;
    line-height: 100px;
    text-transform: uppercase;
  }

  body {
    background-image: url('img/pizza-bg.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
  }

  .wrapper {
    position: relative;
    top: 8rem;
    min-height: 40rem;
    opacity: .7;
  }

  .card {
    color: #000;
  }

  .footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
  }
