.header{
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    padding-top: 15px;
  }

  body {
    background-image: url('img/pizza-bg.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
  }

  navbar, navbar a, navbar a:hover {
    padding: 0px;
    margin-top: 5.8rem;
    color: white;
    text-decoration: none;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    line-height: 40px;
  }
