.App {
  width: 400px;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SelectionBox {
  border: 1px solid red;
}

.list-inline img {
  border: 1px solid blue;
  width: 70px;
  height: 70px;
}

.SearchBar {
  border: 1px solid green;
}
